*{
    margin: 0px;
    padding: 0px;
}

.crousel{
    display: flex;
    flex-direction: row;
    border: 0.1px dotted red;
    position: relative;
    top: 150px;
}

form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.parent-conatiner{
    position: relative;
    width: 20%;
    height: 60vh;
    margin: 0px auto;
    border-radius: 5px;
    background: lightgreen;
}



h3{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    outline: 0cm;
}


form input{
    margin-bottom: 10px;
    height: 30px;
    width: 80%;
    padding: 5px 0px;
    outline: none;
    border: 0px;
    border-bottom: 1px solid gray;
    text-align: center;
}

form button{
    height: 35px;
    width: 100px;
    border-radius: 30px;
    border: 1px solid salmon;
    outline: none;
    background: lightblue;

}

.btn-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-evenly;
    margin-bottom: 40px;
}


.step{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
}

.steps{
    width: 33.33%;
    background-color: tomato;
    height: 100%;
    text-align: center;
    line-height: 40px;
}