.parent-container {
    border: 2px dotted red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 490px;
}

/* form{
    display: flex;
    flex-direction: column;
} */

.child-container {
    margin-bottom: 10px;
}
